In [2]:
import pandas as pd
from datetime import datetime
import numpy as np
import psycopg2 as p

In [1]:
with open(r'C:\Users\YoungW\OneDrive - Informa plc\Documents\carriers20200106\carrier.txt', 'r') as f:
    carrier_info = f.readlines()

In [2]:
fleet_mcn = []
req_bipd_amount = []
usdot = []
on_file_bipd = []
cargo_required = []
bond_required = []
cargo_on_file = []
bond_on_file = []
address_status = []

index = 0

for lines in carrier_info:
    
    fleet_mcn.append(lines[2:10])
    usdot.append(lines[10:18])
    req_bipd_amount.append(lines[48:53])
    cargo_required.append(lines[53:54])
    bond_required.append(lines[54:55])
    on_file_bipd.append(lines[55:60]) 
    cargo_on_file.append(lines[60:61])
    bond_on_file.append(lines[61:62])
    address_status.append(lines[62:63])
    print(bond_required)
    index += 1
    if index == 5:
        break

['Y']
['Y', 'N']
['Y', 'N', 'N']
['Y', 'N', 'N', 'N']
['Y', 'N', 'N', 'N', 'N']

In [5]:
fleet_mcn = pd.Series(fleet_mcn)
req_bipd_amount = pd.Series(req_bipd_amount)
usdot = pd.Series(usdot)
on_file_bipd = pd.Series(on_file_bipd)
cargo_required = pd.Series(cargo_required)
bond_required = pd.Series(bond_required)
cargo_on_file = pd.Series(cargo_on_file)
bond_on_file = pd.Series(bond_on_file)
address_status = pd.Series(address_status)

In [6]:
with open(r'C:\Users\YoungW\OneDrive - Informa plc\Documents\carriers20200106\insur.txt', 'r') as f:
    insur_info = f.readlines()

In [7]:
mcn_number = []
insurance_company_id = []
insurance_type_code = []
policy_number = []
effective_date = []


for lines in insur_info:
    mcn_number.append(lines[2:10])
    insurance_company_id.append(lines[10:15])
    insurance_type_code.append(lines[62:-1])
    policy_number.append(lines[27:52])
    effective_date.append(lines[52:62])

In [8]:
mcn_number = pd.Series(mcn_number)
insurance_company_id = pd.Series(insurance_company_id)
insurance_type_code = pd.Series(insurance_type_code)
policy_number = pd.Series(policy_number)
effective_date = pd.Series(effective_date)
on_file_bipd_amount = pd.Series(on_file_bipd_amount)

In [9]:
carrier_df = pd.DataFrame({'fleet_mcn': fleet_mcn, 'usdot':usdot, 'req_bipd_amount':req_bipd_amount, 'cargo_required':cargo_required, 'bond_required':bond_required,
                           'on_file_bipd':on_file_bipd, 'cargo_on_file':cargo_on_file, 'bond_on_file':bond_on_file, 'address_status':address_status})

In [10]:
carrier_df['usdot'] = carrier_df.usdot.str.lstrip('0')
carrier_df['fleet_mcn'] = carrier_df['fleet_mcn'].str.lstrip('0')
carrier_df['fleet_mcn'] = carrier_df['fleet_mcn'].str.rstrip(' ')

# Insur DF

In [13]:
insur_df = pd.DataFrame({'mcn_number':mcn_number, 'insurance_company_id':insurance_company_id, 'insurance_type_code':insurance_type_code, 'policy_number':policy_number,
                        'effective_date':effective_date})

In [14]:
insur_df.head()

,mcn_number,insurance_company_id,insurance_type_code,policy_number,effective_date
0,015807,11215,91X,BUI-007192,01/22/2018
1,575269,28416,91X,CICP10087,06/05/2019
2,575287,05735,91X,MMT H25282450,05/01/2019
3,662561,22311,91X,8894999,05/20/2011
4,898332,05100,34,2001FASNA19B793,11/07/2019

In [15]:
insur_df['mcn_number'] = insur_df['mcn_number'].str.lstrip('0')
insur_df['insurance_company_id'] = insur_df['insurance_company_id'].str.lstrip('0')
insur_df['mcn_number'] = insur_df['mcn_number'].str.rstrip(' ')

In [70]:
insurance_policy = pd.merge(carrier_df, insur_df, left_on = 'fleet_mcn', right_on = 'mcn_number')
insurance_policy.head()

,fleet_mcn,usdot,req_bipd_amount,cargo_required,bond_required,on_file_bipd,cargo_on_file,bond_on_file,address_status,mcn_number,insurance_company_id,insurance_type_code,policy_number,effective_date
0,359079,2225060,00000,N,Y,00000,N,Y,Y,359079,25125,84,5168920,10/01/2013
1,359080,807379,00750,Y,N,01000,Y,N,Y,359080,450,34,MAC 1743412,04/16/2017
2,359080,807379,00750,Y,N,01000,Y,N,Y,359080,9490,91X,ATA 5440144 00,04/17/2017
3,359539,777219,00750,N,N,00750,N,N,Y,359539,3850,91X,WF001134,10/18/2017
4,359544,807227,01000,N,N,01000,Y,N,Y,359544,3940,34,R31071,05/07/2006

In [71]:
insurance_policy = insurance_policy[['fleet_mcn', 'usdot', 'req_bipd_amount', 'cargo_required', 'bond_required', 'on_file_bipd', 'cargo_on_file', 'bond_on_file', 'address_status',
                                    'insurance_company_id', 'insurance_type_code', 'policy_number', 'effective_date']]

In [80]:
insurance_policy['effective_date'] = pd.to_datetime(insurance_policy['effective_date'], format = '%m/%d/%Y')
insurance_policy.replace(r'^\s*$', np.nan, inplace = True, regex = True)
insurance_policy['fleet_mcn'] = insurance_policy['fleet_mcn'].str.strip()
insurance_policy['usdot'] = insurance_policy['usdot'].str.strip()
insurance_policy['insurance_type_code'] = insurance_policy['insurance_type_code'].str.strip()
insurance_policy['policy_number'] = insurance_policy['policy_number'].str.strip()
insurance_policy['insurance_company_id'] = insurance_policy['insurance_company_id'].str.strip()

In [77]:
insurance_policy = insurance_policy.sort_values(by = 'effective_date').drop_duplicates(['policy_number', 'fleet_mcn'], keep = 'last')

In [84]:
insurance_policy['req_bipd_amount'] = insurance_policy['req_bipd_amount'].astype(float)
insurance_policy['on_file_bipd'] = insurance_policy['on_file_bipd'].astype(float)

In [85]:
insurance_policy['req_bipd_amount'].replace(300.0, 300000.00, inplace = True)
insurance_policy['req_bipd_amount'].replace(750.0, 750000.00, inplace = True)
insurance_policy['req_bipd_amount'].replace(1000.0, 1000000.00, inplace = True)
insurance_policy['req_bipd_amount'].replace(1500.0, 1500000.00, inplace = True)
insurance_policy['req_bipd_amount'].replace(2000.0, 2000000.00, inplace = True)
insurance_policy['req_bipd_amount'].replace(3000.0, 3000000.00, inplace = True)
insurance_policy['req_bipd_amount'].replace(5000.0, 5000000.00, inplace = True)
insurance_policy['req_bipd_amount'].replace(6000.0, 6000000.00, inplace = True)
insurance_policy['req_bipd_amount'].replace(9000.0, 9000000.00, inplace = True)
insurance_policy['on_file_bipd'].replace(300.0, 300000.00, inplace = True)
insurance_policy['on_file_bipd'].replace(750.0, 750000.00, inplace = True)
insurance_policy['on_file_bipd'].replace(1000.0, 1000000.00, inplace = True)
insurance_policy['on_file_bipd'].replace(1500.0, 1500000.00, inplace = True)
insurance_policy['on_file_bipd'].replace(2000.0, 2000000.00, inplace = True)
insurance_policy['on_file_bipd'].replace(3000.0, 3000000.00, inplace = True)
insurance_policy['on_file_bipd'].replace(5000.0, 5000000.00, inplace = True)
insurance_policy['on_file_bipd'].replace(6000.0, 6000000.00, inplace = True)
insurance_policy['on_file_bipd'].replace(9000.0, 9000000.00, inplace = True)

In [34]:
password = 'Evergreen1'

conn = p.connect(database = 'postgres', user = 'postgres', password = password, 
                       host = 'localhost', port = 5433)

cur = conn.cursor()

In [26]:
cur.execute("""
create table fleetseek.insurance_policy_temp
(
    fleet_mcn integer,
    usdot varchar,
    req_bipd_amount numeric(15,2),
    cargo_required varchar,
    bond_required varchar,
    on_file_bipd numeric(15,2),
    cargo_on_file varchar,
    bond_on_file varchar,
    address_status varchar,
    insurance_company_id varchar,
    insurance_type_code varchar,
    policy_number varchar,
    effective_date date
)

""")
conn.commit()

In [35]:
from sqlalchemy import create_engine

In [89]:
engine = create_engine("postgresql://{user}:{pw}@localhost:5433/{db}"
                      .format(user = 'postgres',
                             pw = 'Evergreen1',
                             db = 'postgres'))


insurance_policy.to_sql('insurance_policy_temp', con = engine, schema = 'fleetseek', if_exists = 'append', method = 'multi', chunksize = 1000, index = False)

In [332]:
with open(r'C:\Users\YoungW\OneDrive - Informa plc\Documents\carriers20200106\filer.txt', 'r') as f:
    filer_info = f.readlines()

In [337]:
filer_id = []
point_of_contact = []
insurance_company = []
insurance_address = []
insurance_city = []
insurance_state = []
zip_code = []
insurance_country = []
phone_number = []
extension_number = []
fax_number = []


for lines in filer_info:
    filer_id.append(lines[0:5])
    point_of_contact.append(lines[5:50])
    insurance_company.append(lines[50:95])
    insurance_address.append(lines[95:130])
    insurance_city.append(lines[130:160])
    insurance_state.append(lines[160:162])
    insurance_country.append(lines[162:164])
    zip_code.append(lines[164:170])
    phone_number.append(lines[174:184])
    extension_number.append(lines[185:190])
    fax_number.append(lines[190:201])

In [344]:
cur.execute("""
create table fleetseek.insurance_filer_temp
(
    filer_id integer,
    point_of_contact varchar,
    insurance_company varchar,
    insurance_address varchar,
    insurance_city varchar,
    insurance_state varchar (2),
    zip_code varchar,
    insurance_country varchar (2),
    phone_number varchar,
    extension_number varchar,
    fax_number varchar
)

""")
conn.commit()

In [338]:
filer_id = pd.Series(filer_id)
point_of_contact = pd.Series(point_of_contact)
insurance_company = pd.Series(insurance_company)
insurance_address = pd.Series(insurance_address)
insurance_city = pd.Series(insurance_city)
insurance_state = pd.Series(insurance_state)
zip_code = pd.Series(zip_code)
insurance_country = pd.Series(insurance_country)
phone_number = pd.Series(phone_number)
extension_number = pd.Series(extension_number)
fax_number = pd.Series(fax_number)

In [339]:
filer_info = pd.DataFrame({'filer_id':filer_id, 'point_of_contact':point_of_contact, 'insurance_company':insurance_company, 'insurance_address':insurance_address,
                          'insurance_city':insurance_city, 'insurance_state':insurance_state, 'zip_code':zip_code, 'insurance_country':insurance_country,
                           'phone_number':phone_number, 'extension_number':extension_number, 'fax_number':fax_number})

In [340]:
filer_info.head()

,filer_id,point_of_contact,insurance_company,insurance_address,insurance_city,insurance_state,zip_code,insurance_country,phone_number,extension_number,fax_number
0,00001,,SPECTACULAR NATIONWIDE,400 VIRGINIA AVE SW STE600,WASHINGTON,DC,20024,US,,,
1,00020,PLEASE CONTACT YOUR LOCAL AGENT,TRAVELERS CASUALTY AND SURETY COMPANY,"ONE TOWER SQUARE, 5GS",HARTFORD,CT,06183,US,,,
2,00030,VIRGINIA BOYLES,ACE FIRE UNDERWRITERS INSURANCE COMPANY,436 WALNUT STREET,PHILADELPHIA,PA,19106,US,8004330385,,2156404986
3,00040,VIRGINIA BOYLES,ACE PROPERTY AND CASUALTY INSURANCE COMPANY,436 WALNUT STREET,PHILADELPHIA,PA,19106,US,8004330385,,2156404986
4,00060,RAYMOND F. BULLOCK,AFFILIATED FM INSURANCE COMPANY,P O BOX 7500,JOHNSTON,RI,02919,US,4012753000,1940,4012753032

In [341]:
filer_info.replace(r'^\s*$', np.nan, inplace = True, regex = True)
filer_info['point_of_contact'] = filer_info['point_of_contact'].str.strip()
filer_info['insurance_company'] = filer_info['insurance_company'].str.strip()
filer_info['insurance_address'] = filer_info['insurance_address'].str.strip()
filer_info['insurance_city'] = filer_info['insurance_city'].str.strip()
filer_info['zip_code'] = filer_info['zip_code'].str.strip()
filer_info['phone_number'] = filer_info['phone_number'].str.strip()
filer_info['fax_number'] = filer_info['fax_number'].str.strip()
filer_info['insurance_address'] = filer_info['insurance_address'].str.replace('P O', 'PO')

filer_info.head()

,filer_id,point_of_contact,insurance_company,insurance_address,insurance_city,insurance_state,zip_code,insurance_country,phone_number,extension_number,fax_number
0,00001,NaN,SPECTACULAR NATIONWIDE,400 VIRGINIA AVE SW STE600,WASHINGTON,DC,20024,US,NaN,NaN,NaN
1,00020,PLEASE CONTACT YOUR LOCAL AGENT,TRAVELERS CASUALTY AND SURETY COMPANY,"ONE TOWER SQUARE, 5GS",HARTFORD,CT,06183,US,NaN,NaN,NaN
2,00030,VIRGINIA BOYLES,ACE FIRE UNDERWRITERS INSURANCE COMPANY,436 WALNUT STREET,PHILADELPHIA,PA,19106,US,8004330385,NaN,2156404986
3,00040,VIRGINIA BOYLES,ACE PROPERTY AND CASUALTY INSURANCE COMPANY,436 WALNUT STREET,PHILADELPHIA,PA,19106,US,8004330385,NaN,2156404986
4,00060,RAYMOND F. BULLOCK,AFFILIATED FM INSURANCE COMPANY,PO BOX 7500,JOHNSTON,RI,02919,US,4012753000,1940,4012753032

In [345]:
engine = create_engine("postgresql://{user}:{pw}@localhost:5433/{db}"
                      .format(user = 'postgres',
                             pw = 'Evergreen1',
                             db = 'postgres'))


filer_info.to_sql('insurance_filer_temp', con = engine, schema = 'fleetseek', if_exists = 'append', method = 'multi', chunksize = 1000, index = False)

## Insurance Company

In [273]:
cur.execute("""
with inserts as (
select *
from fleetseek.insurance_filer_temp as a
where not exists (select * from fleetseek.insurance_company as b where a.filer_id = b.insurance_company_id)
)
insert into fleetseek.insurance_company (insurance_company_id, company_name, point_of_contact)
select filer_id, insurance_company, point_of_contact
from inserts

""")
conn.commit()

## Insurance Location

In [328]:
cur.execute("""
alter table fleetseek.location
add column insurance_id integer
""")
conn.commit()

In [ ]:
# Going to need a location_id first before going to insurance_location
# Insert into location table and then insert into insurance_location table

cur.execute("""
with ins as 
(
    insert into fleetseek.location (address1, city, state_code, zip_code, country_code, insurance_id)
    select 
        insurance_address, 
        insurance_city, 
        insurance_state, 
        zip_code, 
        insurance_country, 
        filer_id 
    from fleetseek.insurance_filer_temp as a 
    where not exists (select * from fleetseek.insurance_location as b where a.filer_id = b.insurance_id) and
    insurance_address <> 'NOT KNOWN'
    returning insurance_id, location_id
)

insert into fleetseek.insurance_location (insurance_id, location_id, location_type)
select insurance_id, location_id, 'insurance'
from ins;

alter table fleetseek.location
drop column insurance_id;
""")
conn.commit()

## Insurance Phone

In [346]:
cur.execute("""
alter table fleetseek.phone_number
add column insurance_id integer;
""")
conn.commit()

In [ ]:
# Going to need a phone_number_id before going to insurance_phone

cur.execute("""
with inserted as 
(
    insert into fleetseek.phone_number (phone_type_id, phone_number, phone_number_extension, insurance_id)
    select
        case 
            when (phone_number similar to ('800%|888%|877%|866%|855%|844%')) then 2
            else 1
        end as phone_type_id,
        phone_number,
        extension_number,
        filer_id
    from fleetseek.insurance_filer_temp as a
    where not exists (select * from fleetseek.insurance_phone as b where a.filer_id = b.insurance_id) and
    (phone_number is not null or fax_number is not null)

    union all

    select
        3,
        fax_number,
        null,
        filer_id
    from fleetseek.insurance_filer_temp as a
    where not exists (select * from fleetseek.insurance_phone as b where a.filer_id = b.insurance_id) and
    (phone_number is not null or fax_number is not null) and
    fax_number is not null
    returning insurance_id, phone_number_id
)

insert into fleetseek.insurance_phone (insurance_id, phone_number_id)
select insurance_id, phone_number_id
from inserted;

alter table fleetseek.phone_number
drop column insurance_id;
""")
conn.commit()

## Insurance policy

In [ ]:
cur.execute("""
insert into fleetseek.insurance_policy (fleet_mcn, insurance_company_id, insurance_type_code, policy_number, insurance_effective_date, req_bipd_amount, 
                                        req_cargo, req_bond, req_trust, on_file_bipd_amount, on_file_cargo, on_file_bond, on_file_trust)

select 
    fleet_mcn, 
    insurance_company_id::integer, 
    btrim(insurance_type_code), 
    policy_number, 
    effective_date, 
    req_bipd_amount, 
    cargo_required::boolean, 
    bond_required::boolean,
    false, 
    on_file_bipd, 
    cargo_on_file::boolean, 
    bond_on_file::boolean, 
    false
from fleetseek.insurance_policy_temp;

""")
conn.commit()

In [ ]:
cur.execute("""
delete from fleetseek.insurance_policy 
where ctid in (
    select min(ctid)
    from fleetseek.insurance_policy
    group by insurance_type_code, insurance_company_id, fleet_mcn having count(*) > 1
    );

drop table fleetseek.insurance_policy_temp;

drop table fleetseek.insurance_filer_temp;
""")
conn.commit()